.Mantenimiento {
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}

.Mantenimiento-div-table {
    display: table;         
    width: auto;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
  }
.Mantenimiento-div-table-row {
    display: table-row;
    width: auto;
    clear: both;
  }
 .Mantenimiento-div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: auto;
  }

  .Mantenimiento-div-table-row-on {
    float: left; /* fix for  buggy browsers */
    display: table-column;         
    width: auto;         
    background-color: #DAF7A6;  
  }